span {
	font-weight: bold;
}
.con {
	margin-left: 15px;
	border-style: solid;
	border-color: #F5F5F5;

}
.re {
	background-color: #708090;
	color: white;
	font-size: 20px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
h1 {
	margin: 0;
	font-size: 50px;
}
h2 {
	background-color: #C0C0C0;

	padding: 90px;
	font-size: 20px;
	margin: 0;

}
.hh1{
	display: inline-block;
}
.pp1 {
	display: inline-block;
    margin-left: 20px;

}
.inf1 {
		border-style: solid;
	    border-bottom-color: #F5F5F5;
	    border-top: none;
	    border-right: none;
	    border-left: none;

}
.hh2{
	display: inline-block;

}
.pp2 {
    display: inline-block;
    margin-left: 20px;
}
.inf2 {
		border-style: solid;
	    border-bottom-color: #F5F5F5;
	    border-top: none;
	    border-right: none;
	    border-left: none;
}
.hh3{
    display: inline-block;
}
.pp3 {
	margin-left: 20px;
    display: inline-block;
}
.inf3 {
		border-style: solid;
	    border-bottom-color: #F5F5F5;
	    border-top: none;
	    border-right: none;
	    border-left: none;
}
.hh4{
    display: inline-block;
}
.pp4 {
	display: inline-block;
	margin-left: 20px;
}
.inf4 {
		border-style: solid;
	    border-bottom-color: #F5F5F5;
	    border-top: none;
	    border-right: none;
	    border-left: none;
}
.hh5{
    display: inline-block;
}
.pp5 {
    margin-left: 20px;
    display: inline-block;
}
.inf5 {
		border-style: solid;
	    border-bottom-color: #F5F5F5;
	    border-top: none;
	    border-right: none;
	    border-left: none;
}

